page-category {

    .list-background-page { 
    	color: rgb(64, 23, 211);
        font-family: sans-serif;
    
    ion-list {
        position: relative;
        text-align: center;
        }

    ion-item {
    	position: relative;
        text-align: center;
        }
    }

    ion-title{
        text-align: center;
        }

    }

