page-category {

    .ion-list-background-page { 
    	color: rgb(64, 23, 211);
        font-family: sans-serif;
	}

    ion-title {
        text-align: center;
    }

    .item {
    	color: rgb(237, 32, 36);
    }

    .item.item-input{
        background-color: transparent;
    }
    
}

