page-about {
		
        ion-title{
        text-align: center;
        color: rgb(0, 0, 0);
        }

        .about-background-page {
            background-color: rgb(204, 204, 204);
        }

            h1{
            text-align: center;
            color: rgb(255, 255, 255);
            }

            h3{
            text-align: center;
            color: rgb(255, 255, 255);
            }

            p{
            text-align: center;
            color: rgb(237, 32, 36);
            }

            img {
            position: relative;
            }

            .rotateimg90 {
             -webkit-transform:rotate(90deg);
             -moz-transform: rotate(90deg);
             -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
             transform: rotate(90deg);
            }

}
